In [1]:
import pandas as pd
import numpy as np

In [2]:
jul_21 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202106-divvy-tripdata\202106-divvy-tripdata.csv")
aug_21 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202107-divvy-tripdata\202107-divvy-tripdata.csv")
sep_21 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202108-divvy-tripdata\202108-divvy-tripdata.csv")
oct_21 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202109-divvy-tripdata\202109-divvy-tripdata.csv")
nov_21 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202110-divvy-tripdata\202110-divvy-tripdata.csv")
dec_21 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202111-divvy-tripdata\202111-divvy-tripdata.csv")

In [3]:
jan_22 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202112-divvy-tripdata\202112-divvy-tripdata.csv")
feb_22 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202201-divvy-tripdata\202201-divvy-tripdata.csv")
mar_22 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202202-divvy-tripdata\202202-divvy-tripdata.csv")
apr_22 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202203-divvy-tripdata\202203-divvy-tripdata.csv")
may_22 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202204-divvy-tripdata\202204-divvy-tripdata.csv")
jun_22 = pd.read_csv(r"C:\Users\prash\Desktop\Untitled Folder\Bike-share-EDA-python\dataset\202205-divvy-tripdata\202205-divvy-tripdata.csv")

In [4]:
dataset = [jul_21, aug_21, sep_21, oct_21, nov_21, dec_21, jan_22, feb_22, mar_22, apr_22, may_22, jun_22]

In [5]:
dataset[2]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.770000,-87.680000,41.770000,-87.680000,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.770000,-87.680000,41.770000,-87.630000,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.950000,-87.650000,41.970000,-87.660000,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.970000,-87.670000,41.950000,-87.650000,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.790000,-87.600000,41.770000,-87.620000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
804347,5E5C9CD681E0419C,classic_bike,2021-08-07 18:07:43,2021-08-07 18:21:21,Wells St & Evergreen Ave,TA1308000049,Lincoln Ave & Diversey Pkwy,TA1307000064,41.906724,-87.634830,41.932225,-87.658617,member
804348,96FB57CF4AA456F6,electric_bike,2021-08-09 08:49:31,2021-08-09 09:03:51,Broadway & Sheridan Rd,13323,Clark St & Lincoln Ave,13179,41.952709,-87.649940,41.915973,-87.634762,member
804349,226A0910DCCE904C,classic_bike,2021-08-12 16:55:57,2021-08-12 17:15:10,Dearborn St & Adams St,TA1305000005,Clark St & Lincoln Ave,13179,41.879356,-87.629791,41.915689,-87.634600,member
804350,1A97D27AE23DE1E7,classic_bike,2021-08-08 22:47:43,2021-08-08 23:08:12,Broadway & Sheridan Rd,13323,Clark St & Winnemac Ave,TA1309000035,41.952833,-87.649993,41.973348,-87.667855,casual
804351,BBC36E4AA3652361,electric_bike,2021-08-27 18:53:53,2021-08-27 19:02:16,Paulina Ave & North Ave,TA1305000037,Dayton St & North Ave,13058,41.909851,-87.669808,41.910674,-87.649547,casual

In [6]:
dataset = pd.concat(dataset)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5860776 entries, 0 to 634857
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 626.0+ MB

In [8]:
dataset.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    823167
start_station_id      823164
end_station_name      878338
end_station_id        878338
start_lat                  0
start_lng                  0
end_lat                 5036
end_lng                 5036
member_casual              0
dtype: int64

In [9]:
dataset = dataset.dropna(how='any',axis = 0)

In [10]:
dataset.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [11]:
dataset.duplicated().any()

False

In [12]:
pd.options.mode.chained_assignment = None

dataset['started_at']=pd.to_datetime(dataset['started_at'])

In [13]:
dataset['ended_at']=pd.to_datetime(dataset['ended_at'])

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4667299 entries, 50 to 634547
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 498.5+ MB

In [15]:
dataset['trip_duration'] = dataset['ended_at'] - dataset['started_at']

In [16]:
dataset['ended_at']

50       2021-06-04 07:45:34
51       2021-06-23 08:41:37
53       2021-06-27 12:34:45
56       2021-06-01 12:33:02
57       2021-06-01 11:34:43
                 ...
634001   2022-05-08 14:35:23
634182   2022-05-14 10:10:37
634378   2022-05-06 19:27:02
634445   2022-05-30 21:16:11
634547   2022-05-26 20:19:52
Name: ended_at, Length: 4667299, dtype: datetime64[ns]

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4667299 entries, 50 to 634547
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  trip_duration       timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 534.1+ MB

In [18]:
dataset['trip_duration'] = pd.to_numeric(dataset['trip_duration'])

In [19]:
dataset['trip_duration'] = dataset['trip_duration']/6e+10

In [20]:
dataset['trip_duration'].describe(include='all')

count    4.667299e+06
mean     2.021406e+01
std      1.580815e+02
min     -5.590000e+01
25%      6.600000e+00
50%      1.160000e+01
75%      2.096667e+01
max      5.594415e+04
Name: trip_duration, dtype: float64

In [21]:
#filter outliers

tripduration_outliers = (dataset['trip_duration']<1) | (dataset['trip_duration']>480)

In [22]:
tripduration_outliers

50        False
51        False
53        False
56        False
57        False
          ...
634001    False
634182     True
634378    False
634445    False
634547    False
Name: trip_duration, Length: 4667299, dtype: bool

In [23]:
tripduration_outliers.value_counts()

False    4598285
True       69014
Name: trip_duration, dtype: int64

In [24]:
dataset.drop(dataset.index[tripduration_outliers],inplace = True)

In [25]:
dataset.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
50,0D904FEC5F84A538,classic_bike,2021-06-04 07:29:18,2021-06-04 07:45:34,Orleans St & Elm St,TA1306000006,Orleans St & Elm St,TA1306000006,41.902924,-87.637715,41.902924,-87.637715,member,16.266667
51,C4185F300D6B552B,classic_bike,2021-06-23 08:39:36,2021-06-23 08:41:37,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member,2.016667
53,60F97090AC85F55E,classic_bike,2021-06-27 12:26:58,2021-06-27 12:34:45,Clark St & Grace St,TA1307000127,Clark St & Leland Ave,TA1309000014,41.950780,-87.659172,41.967096,-87.667429,member,7.783333
56,FBC7B1F0160AA304,classic_bike,2021-06-01 12:30:24,2021-06-01 12:33:02,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889177,-87.638506,41.888716,-87.644448,member,2.633333
57,37A52001AEEFA4E5,classic_bike,2021-06-01 11:32:17,2021-06-01 11:34:43,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member,2.433333

In [26]:
dataset["trip_distance"] = np.sqrt(((dataset["end_lat"] - dataset["start_lat"])**2) + ((dataset["end_lng"] - dataset["start_lng"])**2))
dataset["trip_distance"] = dataset["trip_distance"] * 111.139

In [28]:
dataset["start_hour"] = dataset["started_at"].dt.hour

In [29]:
dataset["start_hour"].unique()

array([ 7,  8, 12, 11, 17, 21, 20, 23, 22, 19, 15, 10, 16, 14, 18,  0, 13,
        5,  2,  9,  1,  6,  3,  4], dtype=int64)

In [34]:
dataset.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,trip_distance,start_hour,start_day_num,start_day
50,0D904FEC5F84A538,classic_bike,2021-06-04 07:29:18,2021-06-04 07:45:34,Orleans St & Elm St,TA1306000006,Orleans St & Elm St,TA1306000006,41.902924,-87.637715,41.902924,-87.637715,member,16.266667,0.000000,7,4,Thursday
51,C4185F300D6B552B,classic_bike,2021-06-23 08:39:36,2021-06-23 08:41:37,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member,2.016667,0.662380,8,2,Tuesday
53,60F97090AC85F55E,classic_bike,2021-06-27 12:26:58,2021-06-27 12:34:45,Clark St & Grace St,TA1307000127,Clark St & Leland Ave,TA1309000014,41.950780,-87.659172,41.967096,-87.667429,member,7.783333,2.032325,12,6,Saturday
56,FBC7B1F0160AA304,classic_bike,2021-06-01 12:30:24,2021-06-01 12:33:02,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889177,-87.638506,41.888716,-87.644448,member,2.633333,0.662380,12,1,Monday
57,37A52001AEEFA4E5,classic_bike,2021-06-01 11:32:17,2021-06-01 11:34:43,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member,2.433333,0.662380,11,1,Monday

In [31]:
dataset['start_day_num'] = dataset['started_at'].dt.dayofweek

In [33]:
day_dict = {0:"Sunday", 1:"Monday", 2:"Tuesday", 3:"Wednesday", 4:"Thursday", 5:"Friday", 6:"Saturday"}
dataset['start_day']=dataset['start_day_num'].apply(lambda y:day_dict[y])

In [35]:
dataset['weekend'] = np.where(dataset['start_day_num']>5,True , False)

In [36]:
dataset['start_month_num'] = dataset['started_at'].dt.month
dataset["start_month_num"].unique()

array([ 6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5], dtype=int64)

In [37]:
month_dict = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}
dataset["start_month_name"]= dataset["start_month_num"].apply(lambda y:month_dict[y])
dataset["start_month_name"].unique()

array(['June', 'July', 'August', 'September', 'October', 'November',
       'December', 'January', 'February', 'March', 'April', 'May'],
      dtype=object)

In [38]:
dataset['start_year'] = dataset['started_at'].dt.year
dataset["start_year"].unique()

array([2021, 2022], dtype=int64)

In [39]:
dataset.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,member_casual,trip_duration,trip_distance,start_hour,start_day_num,start_day,weekend,start_month_num,start_month_name,start_year
50,0D904FEC5F84A538,classic_bike,2021-06-04 07:29:18,2021-06-04 07:45:34,Orleans St & Elm St,TA1306000006,Orleans St & Elm St,TA1306000006,41.902924,-87.637715,...,member,16.266667,0.000000,7,4,Thursday,False,6,June,2021
51,C4185F300D6B552B,classic_bike,2021-06-23 08:39:36,2021-06-23 08:41:37,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,...,member,2.016667,0.662380,8,2,Tuesday,False,6,June,2021
53,60F97090AC85F55E,classic_bike,2021-06-27 12:26:58,2021-06-27 12:34:45,Clark St & Grace St,TA1307000127,Clark St & Leland Ave,TA1309000014,41.950780,-87.659172,...,member,7.783333,2.032325,12,6,Saturday,True,6,June,2021
56,FBC7B1F0160AA304,classic_bike,2021-06-01 12:30:24,2021-06-01 12:33:02,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889177,-87.638506,...,member,2.633333,0.662380,12,1,Monday,False,6,June,2021
57,37A52001AEEFA4E5,classic_bike,2021-06-01 11:32:17,2021-06-01 11:34:43,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,...,member,2.433333,0.662380,11,1,Monday,False,6,June,2021

In [43]:
dataset.rename(columns = {'member_casual': 'user_type'}, inplace=True)

In [44]:
dataset.to_csv("bike_share.csv",index= False)